<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hello Swig!</title>

</head>
<body>
	<button id="btn"><h1>choose and upload img</h1></button>
	<script src="/lib/jquery-2.2.3.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		wx.config({
		    debug: true, //
		    appId: 'wxade0b81767937053', // 
		    timestamp: '{{ wxcfg.timestamp }}', // 
		    nonceStr: '{{ wxcfg.noncestr }}', // 
		    signature: '{{ wxcfg.signature }}',// 
		    jsApiList: [
			    'checkJsApi',
			    'onMenuShareTimeline',
			    'onMenuShareAppMessage',
			    'onMenuShareQQ',
			    'onMenuShareWeibo',
			    'uploadImage',
			    'chooseImage',
			    'previewImage',
			    'downloadImage'
		    ] // 
		});
	</script>
	<script>
	wx.ready(function(){
		alert('Hello WeChat!');
	});

	var btn = document.getElementById('btn');
	btn.onclick = function(){
		wx.chooseImage({
		    count: 4, // 
		    sizeType: ['original', 'compressed'], // 
		    sourceType: ['album', 'camera'], // 
		    success: function (res) {
		        var localIds = res.localIds; //
		        syncUpload(localIds);
		    }
		});
	};

	var syncUpload = function(localIds,upIds){
		alert(["upIds-----",upIds]);
	    var localId = localIds.pop();
	    upIds = upIds ? upIds : [];
	    upIds.push(localId);
	    wx.uploadImage({
	        localId: localId,
	        isShowProgressTips: 1,
	        success: function (res) {
	            var serverId = res.serverId; // 返回图片的服务器端ID
	            //其他对serverId做处理的代码
	            if(localIds.length > 0){
	                syncUpload(localIds,upIds)	;
	            }else{
	            	alert(["upIds======",upIds])
	            	$.ajax({
	            		url: 'apis/wxuploads',
	            		type: "POST", 
	            		data: {"idarr":upIds,"curtoken":'{{ wxcfg.access_token }}'},
	            		success: function(msg){
	            			alert(msg);
	            			// alert('success');
	            		}
	            	});
	            }
	        }
	    });
	};
	</script>
</body>
</html>